<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Etiqueta VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Titulo que aparecera en el navegador -->
    <title>Mundo Mascota DH</title>
    <!-- Aqui iran los link para GOOGLE Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- Aqui ira el link para los iconos -->
    <script src="https://kit.fontawesome.com/18dc98f3b0.js" crossorigin="anonymous"></script>
    <!-- Aqui iran los link para Mi CSS -->
    <link rel="stylesheet" href="/public/css/index.css">
    
</head>
<body>
    <iframe src="nav.html" style="width:100%; height:100%; border:none"></iframe>
    <main>
        <div class="container-slider">
            <div class="slider" id="slider">

                <div class="slider__section">
                    <img src="/public/img/promocional.PNG" alt="" class="slider__img">
                </div>
                <div class="slider__section">
                    <img src="/public/img/slider2.jpg" alt="" class="slider__img">
                </div>
                <div class="slider__section">
                    <img src="/public/img/slider3.webp" alt="" class="slider__img">
                </div>
                <div class="slider__section">
                    <img src="/public/img/slider4.jpg" alt="" class="slider__img">
                </div>
            </div>
            <div class="slider__btn slider__btn--right" id="btn-right">&#62</div>
            <div class="slider__btn slider__btn--left" id="btn-left">&#60</div>
        </div>

        <div class="contenedor--iconos--envio">
            <div class="mini-caja" style="flex: 1; text-align: center;">
            <ion-icon name="cube-outline" class="uno tamaño"></ion-icon>
            <p style="color:#05668D">Entrega inmediata</p>
            </div>
            <div class="mini-caja" style="flex: 1; text-align: center;">
            <ion-icon name="car-outline" class="dos tamaño"></ion-icon>
            <p style="color:#05668D">Envío rapido</p>
            </div>
            <div class="mini-caja" style="flex: 1; text-align: center;">
            <ion-icon name="cube-outline" class="tres tamaño"></ion-icon>
            <p style="color:#05668D">Retiro en sucursal</p>
            </div>

        </div>
        <div class="contenedor-producto">
            <div class="vista--producto">
                <img src="/public/img/croquetas.webp" alt="" class="img-p">
                <p class="descripcion--corta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam doloribus praesentium ratione exercitationem expedita.</p>
                <div class="mini--contenedor--dos">
                    <p class="precio">50.00$</p>
                    <button class="boton--buy--home">buy</button>
                </div>
            </div>
            <div class="vista--producto">
                <img src="/public/img/croquetas.webp" alt="" class="img-p">
                <p class="descripcion--corta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam doloribus praesentium ratione exercitationem expedita.</p>
                <div class="mini--contenedor--dos">
                    <p class="precio">50.00$</p>
                    <button class="boton--buy--home">buy</button>
                </div>
            </div>
            <div class="vista--producto">
                <img src="/public/img/croquetas.webp" alt="" class="img-p">
                <p class="descripcion--corta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam doloribus praesentium ratione exercitationem expedita.</p>
                <div class="mini--contenedor--dos">
                    <p class="precio">50.00$</p>
                    <button class="boton--buy--home">buy</button>
                </div>
            </div>
            <div class="vista--producto">
                <img src="/public/img/croquetas.webp" alt="" class="img-p">
                <p class="descripcion--corta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam doloribus praesentium ratione exercitationem expedita.</p>
                <div class="mini--contenedor--dos">
                    <p class="precio">50.00$</p>
                    <button class="boton--buy--home">buy</button>
                </div>
            </div>
        </div>
    </main>

    <footer>


    </footer>
    <script src="/slider.js"></script>
</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</html>