<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Etiqueta VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Titulo que aparecera en el navegador -->
    <title>Mundo Mascota DH</title>

    <!-- Aqui iran los link para GOOGLE Fonts -->


    <!-- Aqui ira el link para los iconos -->
    

    <!-- Aqui iran los link para Mi CSS -->
    
</head>

<body>
    <header>


    </header>

    <main>


    </main>

    <footer>


    </footer>
</body>

</html>