<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Mascota DH- Recuperar</title>
    <script src="https://kit.fontawesome.com/1e24a630c6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <%- include('./partials/header')  %>
    <br>
    <h1>Mundo Mascota DH-Recuperar</h1>
    <br>
    <h1>Pagina en Construccion</h1>
    <br>
    <%- include ('./partials/footer.ejs') %> 
</body>
</html>