<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <script src="https://kit.fontawesome.com/1e24a630c6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mundo Mascota DH - Registrar Usuario</title>
</head>

<body>
    <header>

    </header>
    <main>
        <h1>Registro de Usuario</h1>
        <!-- <h3>Mundo Mascota DH</h3> -->


        <form action="/register" method="GET">
            <div>
                <input type="text"  class="input-registro" placeholder="Nombre">
            </div>
            <div><input class="input-registro" type="email" placeholder="E-mail"></div>
            <div><input class="input-registro" type="password" placeholder="Contraseña"></div>
            <div><input class="input-registro" type="password" placeholder="Repetir contraseña"></div>
            <div class="boton-final">
                <button id="" type="submit" class="boton"><i class="fa-solid fa-cart-shopping"></i> crear cuenta</button>
                <button id="" type="reset" class="boton"><i class="fa-solid fa-cart-shopping"></i> limpiar</button>
            </div>

    



        </form>
    </main>
    <footer>

    </footer>
</body>

</html>