/* DETALLE PRODUCTO */

.section-producto {
    display: flex;
    flex-wrap: wrap;

}

.producto {
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

}

.foto-producto {
    width: 40%;
    border: none;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.foto-producto {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    cursor: pointer;
}

.foto-producto:hover {
    box-shadow: 10px 10px 10px rgb(35, 21, 21);
}

.detalle-Producto {
    width: 40%;
    border-top: 10px var(--Gris-claro) solid;
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    text-align: left;
    justify-content: center;
    border-width: 1px;
    position: relative;

}

.precio-descuento {
    display: flex;
}

#precios {
    font-size: 18px;
    text-align: left;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 30%;
    font-weight: bold;
}

#descuentos {
    font-size: 16px;
    text-align: right;
    margin-top: 1%;
    color: #39b54a;
    width: 70%;
}

.descripciones {
    font-size: 16px;
    text-align: center;
    color: var(--azul_zafiro);
    margin-top: 10px;
    border-top: solid 1px #427aa1;
    padding: 10px;

}

.boton-comprar{
        width: 80%;
        padding: 15px 0px;
        font-size: 14px;
        font-weight: bold;
        color: white;
        background: #05668d;
        border: none;
        border-radius: 5px;
        transition: 1s all;
        cursor: pointer;
        height: 60px;
      
}
.tabla-caracteristicas {
    background-color: inherit;
    border: none;
    font-size: 12px;
    overflow: hidden;
    overflow-wrap: break-word;
    padding: 12px;
    text-align: left;
    white-space: break-spaces;
    width: 25%;
    word-break: break-word;
   
}
.caracteristicas{
    margin-left: 30px;
    
}
.medios-de-pago{
    margin-left: 30px;
}
    /* .contenedor {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: auto;
        gap: 50%;
    }
    
    .mini-contenedor .detalle-final {
        padding: auto;
        align-items: baseline;
        margin: auto;
        width: 50%;
        flex-grow: 5;
    } */
  /*   .caracteriticas{
        margin-left: 30px;
    } */ 

@media(min-width: 425px) {

    .section-producto {
        width: 100%;

    }

    .detalle-Producto {
        width: 100%;
    }

    .detalle-Producto {
        width: 100%;
    }

    .foto-producto {
        width: 100%;
    }

    .foto-producto {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        cursor: pointer;
    }

    .foto-producto:hover {
        box-shadow: 10px 10px 10px rgb(35, 21, 21);
    }

    p {
        text-align: justify;
        margin-top: 25px;
        margin-left: 25px;
        margin-bottom: 25px;
    }

    .titulo {
        text-align: center;
    }

    .producto {
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 20px;
    }
    .caracteristicas{
        margin-left: 30px;
        justify-content: center;
        
        
    }

}

@media(min-width: 768px) {

    .section-producto {
        width: 80%;
    }

    .detalle-Producto {
        width: 80%;
    }

    .detalle-Producto {
        width: 80%;
    }

    .foto-producto {
        width: 80%;


    }

    .texto-producto {
        width: 50px;
    }

    .descripciones {
        font-weight: bold;
        margin-top: 25px;
        size: 100px;

    }

    .items {
        font-size: bold;
    }
    .texto-pago{
        margin-bottom: 30px;
    }
    .tc-texto{
        margin-top: 30px;
    }
    /* .detalle-final{
        display: none;
    }
    .detalle-final {
        display: none;
    } */
   /*  .contenedor {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: auto;
        gap: 50%;
    }

    .mini-contenedor .detalle-final {
        padding: auto;
        align-items: baseline;
        margin: auto;
        width: 50%;
        flex-grow: 5;
    }
 */
}