.img-alimento-perros{
    width: 50%;
   margin-left: 50px;
    border-radius: 10px;
    border: 15px;
    justify-content: center;
    
}
.detalle-producto{
    justify-content: center;
    margin-right: 150px;

}
.nombre-producto{
    text-align: right;
    margin-right: 150px;
    size: 50px;
    font-weight: bold;


}
.img-alimento-perros {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    cursor: pointer;
}

.img-alimento-perros:hover {
    box-shadow: 10px 10px 10px rgb(35, 21, 21);
}
.Detalle-producto{
    text-align: right;
}


@media(min-width: 425px){
    .img-alimento-perros{
        width: 50%;
        text-align: center;

    }
    .img-alimento-perros {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        cursor: pointer;
    }
    
    .img-alimento-perros:hover {
        box-shadow: 10px 10px 10px rgb(35, 21, 21);
    }
    .nombre-producto{
        text-align: center;
    }
    .Detalle-producto{
        text-align: center;
    }
    .boton-final{
        text-align: center;
        }






}
@media(min-width: 768px){

}