@import url(normalize.css); /* PREGUNTAR SI VAMOS A USAR NORMALIZE */
@import url(header.css);
@import url(footer.css);
@import url(carrito.css);

:root{
    --azul1:#05668D;
    --azul2: #427AA1;
    --azul3: #EBF2FA;
    --verde1: #679436;
    --verde2: #A5BE00;
}
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    height: 100%;
}
body{
    min-height: 100vh;
    font-size: 16px;
    margin: 0%;
    padding: 0%;
}
main{
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
/**/

/* 
nav{
    background-color: var(--azul1);
}
.contenedor-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline; 
.busqueda{
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 0;
}
.contenedor-botones{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.conetendor-busqueda{
    margin: auto;
    padding: auto;
    display: flex;
    align-items: baseline;
    justify-content:baseline;
    border-radius: .5rem ;
    background-color: var(--azul3);
    height: 3.4rem;
}
.barra{
    align-items: baseline;
    margin: auto;
    padding: auto;
    border-radius: .5rem;
    border:none;
    align-items: center;
    width: 90%;
    height: 90%;
}
.lupa{
    border-radius: 1rem;
    width: 3rem;
    background-color: transparent;
    border: none;
    margin: auto;
    padding: auto;
}
button.lupa{
    margin: auto;
    padding: auto;
}
ion-icon {
    color: var(--azul1);
    font-size: 2rem;
}
.nav-link{
    text-decoration: none;
    color: var(--azul3)
}
.logo{
    position: absolute;
    height: 6rem;
    margin: auto;
    padding: auto;
    left: 4rem;
    top: 1rem;
}
.iconos{
    margin: auto;
    padding: auto;
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: row;
}
.dos-iconos{
    font-size: 3rem;
    background-color: transparent;
    color: var(--azul3);
}
button.icono-boton{
    background-color: var(--azul1);
    border:none;
    cursor: pointer;
}
 */

/**/
.container-slider{
    z-index: 2;
    padding: auto;
    width: 80%;
    max-width: 100%;
    margin: auto;
    overflow: hidden; /*oculta el resto de imagenes*/
    position: relative;
    box-shadow: 3px 4px 9px -1px rgba(156,154,154,0.93);
    -webkit-box-shadow: 3px 4px 9px -1px rgba(156,154,154,0.93);
    -moz-box-shadow: 3px 4px 9px -1px rgba(156,154,154,0.93);
    border-radius: 1rem;
    height: 400px;
}

.slider{
    display: flex;
    width: 400%;
    height: 400%;
    margin-left: -100%;
}
.slider__section{
    width: 100%;
}
.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    /*object-fit: cover; para que las  imagenes no se */
}
.slider__btn{
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.5);
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    font-weight: bold;
    font-family: monospace;
    cursor: pointer;
    text-align: center;
}
.slider__btn:hover{
    background-color: rgba(255, 255, 255, 0.7);
}
.slider__btn--right{
    right: 1rem;
}
/*contenedor iconos*/

.mini-caja{
    margin: auto;
    flex: 1;
}
.contenedor--iconos--envio{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin: 2% auto;
    border-radius: 1rem;
    background-color: var(--azul3);
    height: 6rem;
    width: 70%;
}
.tamaño{
    font-size: 3rem ;
    color:var(--azul1)
}
.texto-envios{
    color:#05668D;
}
.contenedor-producto{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 85%;
    max-width: 100%;
    margin: auto;
    padding-bottom: 30px;
}
.vista--producto{
    text-align: center;
    padding: 1rem;
    border: var(--azul3) 2px solid;
    border-radius: 1rem;
    margin: auto 1rem;
    box-shadow: 3px 3px 12px 0px rgba(186,173,173,0.75);
    -webkit-box-shadow: 3px 3px 12px 0px rgba(186,173,173,0.75);
    -moz-box-shadow: 3px 3px 12px 0px rgba(186,173,173,0.75);
}
.img-p{
    text-align: center;
    height: 20rem;
    width: 20rem;
    margin: auto;
    border-bottom: #05668D solid .1rem;
}
.descripcion--corta{
    text-align: justify;
}
.mini--contenedor--dos{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}
.precio{
    color: #679436;
    font-size: 2rem;
}
.boton--buy--home{
    border-style: none;
    background-color: #fff;
}
.boton--buy--home:hover{
    background-color: var(--azul1);
    color: var(--azul3);
}
@media (max-width: 780px){
    /* Tablets */
}
@media (max-width: 460px){
    /* Smartphones*/
    /* nav{
        background-color: #ffffff;
        margin: auto;
        height: 15rem;
        width: auto;
    }
    .contenedor-nav{
        display: flex;
        flex-wrap: wrap;
    }
    .contenedor-logo{
        align-self: flex-start;
        order:1;
    }
    .busqueda{
        align-self: flex-end;
        margin: auto 10% auto auto;
        order:3;
        padding: 5%;
    }
    .iconos{
        align-self: flex-start;
        order:2;
        margin-left: 70%;
    }
    .logo{
        width: 4rem;
    }

    button.icono-boton{
        background-color: #fff;
        border:none;
        cursor: pointer;
        width: 4rem;
        align-items: baseline;
    }
    .nav-link{
        color: #05668D;
        background-color: var(--azul3);
        padding: 0% 10%;
        border-radius: 1rem;
        font-size: 13px;
    }
    .nav-link:hover{
        background-color: var(--azul1);
        color: var(--azul3);
    }
    .dos-iconos{
        color:var(--azul1);
    }
   
    .contenedor-producto{
        overflow: hidden;
    }
    .conetendor-busqueda{
        height:2.5rem;
        justify-self: baseline;
        display: none;
    }
    .barra{
        height: 90%;
    }
    .contenedor--iconos--envio{
        margin: 5% auto;
        height: 4.5rem;
    } */
    .tamaño{
        font-size: 1.5rem;
    }
    .texto-envios{
        font-size: 10px;
    }

    .img-p{
        height: 10rem;
        width: 10rem;
    }
    .descripcion--corta{
        font-size: 12px;
    }
    .precio{
        font-size: 1.5rem;
    }
    .boton--buy--home{
        font-size: 1.5rem;
    }
}
