.section-producto {
    display: flex;
    flex-wrap: wrap;
}

.logo-perro{
    width: 20%;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    justify-content: center;
}
.perro{
    width: 50%;
    text-align: center;
    justify-content: center;
    display: flex;
}
.gato{
    width: 50%;
    text-align: center;
    justify-content: center;  
    display: flex;
}
.logo-gato{
    width: 20%;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
}
.logo-perro {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    cursor: pointer;
}

.logo-perro:hover {
    box-shadow: 10px 10px 10px rgb(35, 21, 21);
}
.logo-gato {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    cursor: pointer;
}

.logo-gato:hover {
    box-shadow: 10px 10px 10px rgb(35, 21, 21);
}
.detalle-Producto {
    width: 100%;
    border-top: 10px var(--Gris-claro) solid;
    background-color: lightskyblue;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
    justify-content: center;
    border-width: 10px ;
    position: relative;
    border-radius: 20px;
}
.p-mascota{
    text-align: center;
    justify-content: center;
    color: var(--azul_zafiro);
    font-size: 20px;
    padding-top: 30px;
}
/* ****************************** MEDIAS QUERIS ********************************* */
@media(min-width:425px){
    .logo-perro{
        width: 80%;  
    }
    
    .logo-gato{
        width: 80%; 
    }
    .logo-perro {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        cursor: pointer;
    }
    
    .logo-perro:hover {
        box-shadow: 10px 10px 10px rgb(35, 21, 21);
    }
    .logo-gato {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        cursor: pointer;
    }
    
    .logo-gato:hover {
        box-shadow: 10px 10px 10px rgb(35, 21, 21);
    }
}

@media(min-width:769px){
    .logo-perro{
        width: 40%;
        margin-bottom: 25px;
       
    }
    .perro{
        text-align: center;
        justify-content: center;
    }
    .logo-gato{
        width: 40%;
        margin-top: 25px;
        border-radius: 200px;
    }
    .gato{
        text-align: center;
        justify-content: center;
    }

    /* perror - efectos */
    .logo-perro {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        cursor: pointer;
    }

    .logo-perro:hover {
        box-shadow: 10px 10px 10px rgb(35, 21, 21);
    }
    /* gato - efectos */
    .logo-gato {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        cursor: pointer;
    }
    
    .logo-gato:hover {
        box-shadow: 10px 10px 10px rgb(35, 21, 21);
    }
}