:root{
    --azul1:#05668D;
    --azul2: #427AA1;
    --azul3: #EBF2FA;
    --verde1: #679436;
    --verde2: #A5BE00;
}
@import url(normalize.css);
*{
    font-family: 'Montserrat', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    margin: 0%;
}
nav{
    background-color: var(--azul1);
}
.contenedor-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline; /* tambien puede ser flex-start*/
}
.busqueda{
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 0;
}
.contenedor-botones{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.conetendor-busqueda{
    margin: auto;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: .5rem ;
    background-color: var(--azul3);
    height: 3.4rem;
}
.barra{
    margin: auto;
    padding: auto;
    border-radius: .5rem;
    border:none;
    align-items: center;
    width: 90rem;
    height: 3rem;
}
.lupa{
    height: 2rem;
    border-radius: 1rem;
    width: 3rem;
    background-color: transparent;
    border: none;
    margin: auto;
    padding: auto;
}
ion-icon {
    color: var(--azul1);
    font-size: 2rem;
}
.nav-link{
    text-decoration: none;
    color: var(--azul3)
}
.logo{
    position: absolute;
    height: 6rem;
    margin: auto;
    padding: auto;
    left: 4rem;
    top: 1rem;
}
.iconos{
    margin: auto;
    padding: auto;
    align-items: center;
    background-color: transparent;
}
.dos-iconos{
    font-size: 3rem;
    background-color: transparent;
    color: var(--azul3);
}
button.icono-boton{
    background-color: var(--azul1);
    border:none;
    cursor: pointer;
}