.contenedor-botones 
{
    width: 100%; 
    display: flex; 
    justify-content: space-evenly; 
    flex-wrap: wrap;
}

.boton-register
{
    font-size: 14px; 
    width: 200px; 
   
}

#btnCrearCuenta 
{
    background-color: #A5BE00;
}