<!DOCTYPE html>
<html lang="en">

<!--------------------- HEAD ----------------->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Etiqueta VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Titulo que aparecera en el navegador -->
    <title> Mundo Mascota DH - Admin </title>

    <!-- link para GOOGLE Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- links font awesone -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/1e24a630c6.js" crossorigin="anonymous"></script>

    <!-- links css personalizados -->
    <link rel="stylesheet" href="/css/styles.css">

    <!--fin links css personalizados -->

    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!--links bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<!--------------------- BODY ----------------->

<body>
    <!--------------------- HEADER ----------------->
    <%- include('./partials/header') %>

        <!-------------------- MAIN --------------------->

        <main>

            <h1> Ingresar producto nuevo </h1>

            <form action="/admin" method="post">

                <!-- Agregar el nombre del producto -->
                <div>
                    <label for="nombre">Nombre del Producto:</label>
                    <input type="text" id="nombre" name="nombre" class="input" required>
                </div>

                <!-- Agregar una descripcion del producto -->
                <div>
                    <label> Descripcion: </label>
                    <textarea type="consulta" id="consulta" placeholder="descripcion"
                        class="carga-descripcion"></textarea>
                </div>

                <!-- Agregar categoria del producto -->
                <label for="nombre"> Categoria:</label>
                <select class="select-img">
                    <option></option>
                    <option>Perro</option>
                    <option>Gato</option>
                </select>

                <!-- Agregar imagen del producto -->
                <div>
                    <label for="nombre"> Foto del producto: </label>
                    <input type="file" name="foto" id="foto" class="input">
                </div>

                <!-- Agregar color/talle del producto -->
                <div>
                    <label for="nombre">Colores:</label>
                    <input type="text" id="nombre" name="nombre" class="input" required>
                </div>

                <!-- Agregar el precio del producto -->
                <div>
                    <label for="nombre">Precio:</label>
                    <input type="text" id="nombre" name="nombre" class="input" required>
                </div>

                <!-- Botones para agregar y eliminar un producto -->
                <div class="boton">
                    <button type="submit" class="agregar-producto"> <i class="far fa-check-circle"></i> Agregar
                        producto</button>
                    <button type="reset" class="borrar"> <i class="fas fa-trash-alt"></i> Eliminar producto </button>
                </div>
            </form>


        </main>


        <%- include ('./partials/footer.ejs') %>
</body>

</html>