<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
    <!--------------------- HEADER LOGIN ----------------->

    <body>
        <%- include('./partials/header') %>
            <!-------------------- MAIN --------------------->
            <main>
                <h1>Iniciar sesion</h1>
                <form class="form-seguridad" action="/login" method="GET">
                    <div class="contenedor-seguridad">
                        <div><input type="email" class="input-registro" placeholder="Email"></div>
                        <div><input type="password" class="input-registro" placeholder="Contraseña"></div>

                        <div class="boton-final contenedor-botones ">
                            <button id="" type="submit" class="btn-success boton-seguridad">
                                <i class="fa-solid fa-user-check"></i> Ingresar
                            </button>
                        </div>
                        <a class="links-seguridad" href="/recuperar">¿Olvidaste tu contraseña?</a>

                        <a class="links-seguridad" href="/seguridad/register">Crear una cuenta</a>
                    </div>
                </form>

            </main>

            <%- include ('./partials/footer.ejs') %>
    </body>

</html>