<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Mascota DH - Iniciar Sesion</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/18dc98f3b0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/login.css">

    <script src="https://kit.fontawesome.com/1e24a630c6.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

</head>
<!--------------------- HEADER LOGIN ----------------->
<body>
    <%- include('./partials/header')  %> 
    <!-- <header>
<div class="main-header">
            <img src="/img/logo.jpg" alt="logo mundo mascota DH" class="logo">
            <input id="busqueda" type="text" placeholder="Buscar productos, marcas">

            <div class="icono-header">
                <a href="/carrito"><i class="fa-solid fa-cart-shopping carrito"></i></a>
                <i class="fa-solid fa-location-dot ubicacion"></i>
            </div>
    </div>

    <div >
        <nav >
            <ul class="nav-bar">
                <li><a href="#">Mascotas</a></li>
                <li><a href="#">Marcas</a></li>
                <li><a href="#">Sucursales</a></li>
                <li><a href="#">Promociones</a></li>
                <li><a href="/login">Ingresa</a></li>
            </ul>
        </nav>
    </div>
     
    <div class="burger-menu">
    <i class="fas fa-bars menu"></i>
    </div>

    </header> -->

    <!-------------------- MAIN --------------------->

    <main class="caja-formulario">

        <form class="formulario" action="/login" method="GET">
            <h1 class="ingresar-cuenta">Iniciar sesion</h1>
            
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Contraseña">
            <div class="boton-mostrar-contraseña">
                <i class="fas fa-toggle-off"></i><p>Boton para mostrar contraseña</p>
            </div>
            <button id="ingresar" type="submit" class="boton">Ingresar</button>
             <a class="recuperar-contraseña" href="/recuperar">¿Olvidaste tu contraseña?</a>
            
            <div class="iconos">
                <div class="border-icons">
                    <i class="fab fa-google"></i>
                </div>
                <div class="border-icons">
                    <i class="fab fa-facebook"></i>
                </div>
                <div class="border-icons">
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
            <a class="crear-cuenta" href="/seguridad/register">Crear una cuenta</a>
        </form>

</main>

<!-- ---------------------------------- FOOTER -------------------------------------------- -->

<!-- <footer>
        <div class="footer-section">
            <section class="pie">
                <img src="/img/logo.jpg" alt="logo mundo mascota DH" class="logo-footer">
            </section>
            <section class="pie">
                <i class="fa-solid fa-credit-card icono"></i>
                <p class="titulo">Pagá con tarjeta o en efectivo</p>
                <p class="subtitulo">con VISA o MASTERCARD, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="pie">
                <i class="fa-solid fa-gift icono"></i>
                <p class="titulo">Envío gratis desde $ 1.000</p>
                <p class="subtitulo">Solo por estar registrad@ en MUNDO MASCOTA DH tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="pie">
                <i class="fa-solid fa-user-shield icono"></i>
                <p class="titulo">Seguridad, de principio a fin</p>
                <p class="subtitulo">¿No te gusta? ¡Devolvelo! En MUNDO MASCOTA DH, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </div>
        <section class="copyrigth">
            <p>Copyright © 1999-2022 MUNDO MASCOTA DH</p>
            
        </section>

    </footer> -->
    <%- include ('./partials/footer.ejs') %> 
</body>
</html>