<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %>
            <main>
                <img src="/img/slider3.jpg" alt="slider3" class="banner">
                <img src="/img/Banner3.jpg" alt="banner3" class="marcas">
            </main>

            </footer> -->
            <%- include ('./partials/footer.ejs') %>
    </body>
</html>