<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
    <!--------------------- BODY ----------------->

    <body>
        <!--------------------- HEADER ----------------->
        <%- include('./partials/header') %>

            <!--------------------- MAIN ----------------->
            <main class="main">
                <!-- <img src="/img/Banner5.jpg" alt="banner5">
                 -->
                <!-- <h2>ALIMENTO BALANCEADO</h2> -->

                <!-- <h3>Venta minorista y mayorista de alimentos balanceados de las mejores marcas del país y al mejor
                    precio. También contamos con una amplia variedad de accesorios.</h3> -->

                <div class="panel">
                    <div class=" jumbotron" style="padding:20px ;">
                        <h1>Busca todo lo que tu mascota necesita, en un solo lugar...</h1>
                        <p>Venta minorista y mayorista de alimentos balanceados de las mejores marcas del país y al mejor
                            precio. También contamos con una amplia variedad de accesorios.</p>
                      </div>

                    <div class="">
                        <a href="#">
                            
                                <h2>Perr@s</h2>
                                <img src="/img/mascota-perro.jpg" class="img-circle" alt="categoria_perro" width="404"
                                    height="336">
                            
                        </a>
                        <a href="#">
                            
                                <h2>Gat@s</h2>
                                <img src="/img/mascota-gato.jpg" class="img-circle" alt="categoria_gato" width="404"
                                    height="336">
                            
                        </a>
                    </div>
                </div>

                <!-- <section class="perro">
                    <img src="/img/mascota-perro.jpg" alt="categoria-perro" class="logo-perro">

                    <div class="detalle-Producto">

                        <div>
                            <p class="p-mascota">¡Los favoritos para el concentido de la casa! </p>
                        </div>
                    </div>

                </section>

                <section class="gato">
                    <img src="/img/mascota-gato.jpg" alt="categoria-gato" class="logo-gato">

                    <div class="detalle-Producto">

                        <div>
                            <p class="p-mascota">
                                Los productos que haran feliz a tu gato, encontralos aqui...
                            </p>
                        </div>
                    </div>

                </section> -->

            </main>
            <!--------------------- FOOTER ----------------->
            <%- include ('./partials/footer.ejs') %>

    </body>
  </html>