<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Etiqueta VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Titulo que aparecera en el navegador -->
    <title>Mundo Mascota DH - Mascotas</title>

    <!-- Aqui iran los link para GOOGLE Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
 

    <!-- Aqui ira el link para los iconos -->
    <script src="https://kit.fontawesome.com/18dc98f3b0.js" crossorigin="anonymous"></script>


    <!-- Aqui iran los link para Mi CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mascotas.css">
    
    <script src="https://kit.fontawesome.com/1e24a630c6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
</head>

<!--------------------- BODY ----------------->
<body>
     <!--------------------- HEADER ----------------->
    <%- include('./partials/header')  %> 

    <!--------------------- MAIN ----------------->
    <main class="main">
        
        <img src="/img/Banner5.jpg" alt="banner5" >

        <h1>Todo lo que tu mascota necesita, en un solo lugar...</h1>
        
        
        <h2>ALIMENTO BALANCEADO</h2>

        <p>Venta minorista y mayorista de alimentos balanceados de las mejores marcas del país y al mejor precio. También contamos con una amplia variedad de accesorios.</p>
        

        <section class="perro">
            <img src="/img/mascota-perro.jpg" alt="categoria-perro" class="logo-perro">

            <div class="detalle-Producto">

                <div >
                    <p class="p-mascota">¡Los favoritos para el concentido de la casa! </p>
                </div>
            </div>

        </section>

        <section class="gato">
            <img src="/img/mascota-gato.jpg" alt="categoria-gato" class="logo-gato">
            
            <div class="detalle-Producto">

                <div >
                    <p class="p-mascota">
                    Los productos que haran feliz a tu gato, encontralos aqui...
                    </p>
                </div>
            </div>

        </section>

    </main>
    <!--------------------- FOOTER ----------------->
    
    <%- include ('./partials/footer.ejs') %>
</body>

</html>