<!DOCTYPE html>
<html lang="en">

<!--------------------- HEAD ----------------->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Mascota DH-Detalle de Productos</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/1e24a630c6.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/detalle-producto.css">

    <script src="https://kit.fontawesome.com/1e24a630c6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

 <!--links bootstrap-->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



</head>

<!--------------------- BODY ----------------->

<body>

    <!--------------------- HEADER ----------------->
    <%- include('./partials/header') %>

        <!-------------------- MAIN --------------------->
        <main>

            <section class="section-producto">

                <article class="producto">

                    <!--ALIMENTO para PERROS -->
                    <img src="/img/alimento-perros1.jpg" alt="alimento-perros1" class="foto-producto">

                    <div class="detalle-Producto">

                        <div class="precio-descuento">
                            <p id="precios">$6.770</p>
                            <p id="descuentos">40% OFF Efectivo</p>

                        </div>
                        <P class="descripciones">Alimento Pedigree Sano Crecimiento para perro cachorro todos los
                            tamaños sabor mix en bolsa de 21 kg</P>
                    </div>

                    <!-- Boton para agregar al carrito -->
                <div >
                    <button type="submit" class="boton-comprar"> <i class="fa-solid fa-cart-shopping"></i> Agregar
                        al carrito</button>
                </div>
                </article>

                <!--********************************************************************************************-->

              
                

                <h1>Características de Mars Petcare Pedigree Sano Crecimiento Perro Cachorro</h1>

                <article class="caracteristicas">

                    <P> <i class="far fa-check-circle icono "></i> Marca recomendada: Perro</P>

                    <p> <i class="far fa-check-circle icono "></i> Tamaño de la raza: Todos los tamaños</p>

                    <P> <i class="far fa-check-circle icono "></i> Sabor: Mix</P>

                    <p> <i class="far fa-check-circle icono "></i> Etapa de la vida de la mascota: Cachorro</p>

                    <p> <i class="far fa-check-circle icono "></i> Tipo de comida: Seca</p>
                </article>
            
                <!-- CARACTERISTICAS GENERALES -->
                
                
                <div class="container">    
                    <h3>Caracteristicas generales</h3>           
                        <table class="table table-striped" classe="tabla-caracteristicas">
                          
                          <tbody>
                            <tr>
                              <td>Fabricante</td>
                              <td>Mars Petcare</td>
                            </tr>
                            <tr>
                              <td>Marca</td>
                              <td>Pedigree</td>
                            </tr>
                            <tr>
                              <td>Linea</td>
                              <td>Sano Crecimiento</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                
                  <!-- CARACTERISTICAS DE LA MASCOTA -->
                  
                
                  <div class="container">    
                    <h3>Caracteristicas de la mascota</h3>                     
                          <table class="table table-striped" classe="tabla-caracteristicas">
                            
                            <tbody>
                              <tr>
                                <td>Mascota recomendada</td>
                                <td>Perro</td>
                              </tr>
                              <tr>
                                <td>Etapa de vida de la mascota</td>
                                <td>Cachorro</td>
                              </tr>
                              <tr>
                                <td>Tamaño de la raza</td>
                                <td>Todos los tamaños</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>


                <!-- ESPECIFICACIONES -->
                
                <div class="container">    
                    <h3>Especificaciones</h3>                
                        <table class="table table-striped" classe="tabla-caracteristicas">
                          
                          <tbody>
                            <tr>
                              <td>Sabor</td>
                              <td>Mix</td>
                            </tr>
                            <tr>
                              <td>Peso de la unidad</td>
                              <td>21Kg</td>
                            </tr>
                            <tr>
                              <td>Tipo de envase</td>
                              <td>Bolsa</td>
                            </tr>
                            <tr>
                                <td>Tipo de comida para mascotas</td>
                                <td>Seca</td>
                              </tr>
                          </tbody>
                        </table>
                      </div>
                    
                <h3>Descripcion</h3>
                <article class="detalle-final">

                    <p class="caracteristicas">
                        La selección de un alimento adecuado para tu mascota es muy importante para garantizar su
                        crecimiento, desarrollo y
                        salud. Con esta opción de Pedigree podrás cubrir las necesidades nutricionales y energéticas de
                        tu perro.

                        Tu mascota siempre saludable
                        Ellos son parte de la familia y nos regalan su compañía y su cariño. Para que se mantengan sanos
                        y fuertes, una
                        alimentación balanceada es esencial. Brindale a tu perro los nutrientes que necesita para que
                        pueda correr, saltar y
                        jugar todo el día.

                        Beneficios del alimento seco
                        La mayor ventaja de la comida seca para mascotas es que se puede almacenar por mucho más tiempo
                        sin que se deteriore, y
                        evita la aparición de hongos o bacterias. Además, este tipo de alimento ayuda a eliminar el
                        sarro y a retrasar la
                        formación de la placa dental con el proceso de masticación y trituración.
                    </p>

                </article>

                <h2>Productos similares</h2>
                
                <section>
                    
                    <!-- ALIMENTO 2 -->
                    <article class="producto">
                        <img src="/img/alimento-perros2.jpg" alt="alimento-perros2" class="foto-producto">

                        <div class="detalle-Producto">


                            <div class="precio-descuento">
                                <p id="precios">$6.770</p>
                                <p id="descuentos">40% OFF</p>
                            </div>

                            <P class="descripciones">Alimentos perros 2</P>
                        </div>
                    </article>

                    <!-- ALIMENTO 3 -->
                    <article class="producto">
                        <img src="/img/alimento-perros3.jpg" alt="alimento-perros3" class="foto-producto">

                        <div class="detalle-Producto">


                            <div class="precio-descuento">
                                <p id="precios">$6.770</p>
                                <p id="descuentos">40% OFF</p>
                            </div>

                            <P class="descripciones">Alimentos perros 3</P>
                        </div>
                    </article>

                    <!-- ALIMENTO 4 -->
                    <article class="producto">
                        <img src="/img/alimento-perros4.jpg" alt="alimento-perros4" class="foto-producto">

                        <div class="detalle-Producto">


                            <div class="precio-descuento">
                                <p id="precios">$6.770</p>
                                <p id="descuentos">40% OFF</p>
                            </div>

                            <P class="descripciones">Alimentos perros 4</P>
                        </div>
                    </article>

                    <!-- ALIMENTO 5 -->
                    <article class="producto">
                        <img src="/img/alimento-perros5.jpg" alt="alimento-perros5" class="foto-producto">

                        <div class="detalle-Producto">


                            <div class="precio-descuento">
                                <p id="precios">$6.770</p>
                                <p id="descuentos">40% OFF</p>
                            </div>

                            <P class="descripciones">Alimentos perros 5</P>
                        </div>
                    </article>


                    <!-- ALIMENTO 6 -->
                    <article class="producto">
                        <img src="/img/alimento-perros6.jpg" alt="alimento-perros6" class="foto-producto">

                        <div class="detalle-Producto">


                            <div class="precio-descuento">
                                <p id="precios">$6.770</p>
                                <p id="descuentos">40% OFF</p>
                            </div>

                            <P class="descripciones">Alimentos perros 6</P>
                        </div>
                    </article>
                    
                    <!-- MEDIOS DE PAGO -->
                    <h2>MEDIOS DE PAGO</h2>

                    <article class="medios-de-pago">
                      
                      <div >
                        <h4>Hasta 12 cuotas sin tarjeta</h4>
                        
                        
                      </div>

                      <div >
                        <h4 class="tc-texto">Tarjetas de crédito</h4>
                        <p> <i class="fas fa-university"></i> ¡Cuotas sin interés con bancos seleccionados! </p>
                        <p > <i class="fab fa-cc-visa"></i> Visa </p>
                        <p > <i class="fab fa-cc-mastercard"></i> MasterCard </p>
                        <p > <i class="fab fa-cc-amex"></i> American Expres </p>

                        <h4 class="texto-pago" class="tc-texto"> Hasta 6 cuotas sin interés con estos bancos </h4>
                          <img src="/img/6-cuotas-TC.jpg" alt="6-cuotas-TC" class="foto-producto">
                        

                        <h4> O hasta 12 cuotas con interés </h4>
                          <img src="/img/12-cuotasTC.jpg" alt="12-cuotasTC" class="foto-producto">
                      
                      </div>
                      
                      <div >
                        <h4 class="tc-texto">Tarjetas de débito</h4>
                        <p > <i class="fab fa-cc-visa"></i> Visa - Debito </p>
                        <p > <i class="fab fa-cc-mastercard"></i> MasterCard - Debito</p>
                      </div>

                      <div >
                        <h4>Efectivo</h4>
                        <p class="texto-pago">Dinero en tu cuenta de Mercado Pago

                          Al finalizar tu compra, pagás con el dinero disponible en tu cuenta. Podés ingresar dinero a Mercado Pago con tu tarjeta de débito, en efectivo o por transferencia bancaria.
                          
                          Acreditación instantánea.</p>
                        <!-- <img src="/img/mercado-pago.jpg" alt="mercado-pago" class="foto-producto"> -->
                      </div>

                    </article>

                </section>

                
        </main>
        <!-- ---------------------------------- FOOTER -------------------------------------------- -->

        <%- include ('./partials/footer.ejs') %>
</body>

</html>