<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Mascota DH-Carrito</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <script src="https://kit.fontawesome.com/1e24a630c6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <!-- <link rel="stylesheet" href="/css/carrito.css"> -->
    <link rel="stylesheet" href="/css/footer.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
</head>

<body>
    <header>
        <div class="main-header">
                <img src="/img/logo.jpg" alt="logo mundo mascota DH" class="logo">
                <input id="busqueda" type="text" placeholder="Buscar alimentos, masrcas, mascotas...">

                <div class="icono-header">
                    <i class="fa-solid fa-cart-shopping carrito"></i>
                    <i class="fa-solid fa-location-dot ubicacion"></i>
                </div>
        </div>

        <div >
            <nav >
                <ul class="nav-bar">
                    <li><a href="/mascotas">Mascotas</a> <i class="fas fa-paw iconito"></i></li>
                    <li><a href="/marcas">Marcas</a> <i class="fas fa-tags iconito"> </i></li>
                    <li><a href="/sucursales">Sucursales</a> <i  class="fa-solid fa-location-dot ubicacion iconito"></i> </li>
                    <li><a href="/promociones">Promociones</a><i class="fas fa-badge-dollar iconito"></i></li>
                    <li><a href="/login">Ingresa</a> <i class="fas fa-user iconito"></i> </li>
                </ul>
            </nav>
        </div>
         
        <div class="burger-menu">
        <i class="fas fa-bars menu"></i>
        </div>
    </header>

    <main>
            <h2 class="orden"><i class="fa-solid fa-circle-check"></i>  CONFIRMA TU ORDEN</h2>


            <table>
                <thead>
                    <tr class="tabla-cabecera">
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Precio Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tabla-cuerpo">
                        <td><img src="/img/alimento3.jpg" alt="img alimento" class="img-tabla"></td>
                        <td><input type="text" name="cantidad" placeholder="1" class="tabla-cantidad"><i class="fa-solid fa-plus-minus plus"></i></td>
                        <td>Precio Unitario</td>
                        <td>Precio Total</td>
                    </tr>

                    <tr>
                        <td>Detalle del Producto</td>
                        <td></td>
                        <td></td>
                        <td class="trash">Eliminar <i class="fa-solid fa-trash-can"></i></td>
                    </tr>

                    <tr class="tabla-cuerpo">
                        <td><img src="/img/alimento1.webp" alt="img alimento" class="img-tabla"></td>
                        <td><input type="text" name="cantidad" placeholder="2" class="tabla-cantidad"><i class="fa-solid fa-plus-minus plus"></i></td>
                        <td>Precio Unitario</td>
                        <td>Precio Total</td>
                    </tr>

                    <tr>
                        <td>Detalle del Producto</td>
                        <td></td>
                        <td></td>
                        <td class="trash">Eliminar <i class="fa-solid fa-trash-can"></i></td>
                    </tr>

                    <tr class="tabla-footer">
                        <td></td>
                        <td></td>
                        <td>TOTAL</td>
                        <td>IMPORTE TOTAL</td>
                    </tr>
                </tbody>
            </table>

            <div class="boton-final">
                <button id="seguir-comprando" class="boton"><i class="fa-solid fa-cart-shopping"></i> SEGUIR COMPRANDO</button>
                <button id="confirmar-compra" class="boton">CONFIRMAR COMPRA</button>
            </div>
    </main>

    <!-- <footer>
        <div class="footer-section">
            <section class="pie">
                <img src="/img/logo.jpg" alt="logo mundo mascota DH" class="logo-footer">
            </section>
            <section class="pie">
                <i class="fa-solid fa-credit-card icono"></i>
                <p class="titulo">Pagá con tarjeta o en efectivo</p>
                <p class="subtitulo">con VISA o MASTERCARD, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="pie">
                <i class="fa-solid fa-gift icono"></i>
                <p class="titulo">Envío gratis desde $ 1.000</p>
                <p class="subtitulo">Solo por estar registrad@ en MUNDO MASCOTA DH tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="pie">
                <i class="fa-solid fa-user-shield icono"></i>
                <p class="titulo">Seguridad, de principio a fin</p>
                <p class="subtitulo">¿No te gusta? ¡Devolvelo! En MUNDO MASCOTA DH, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </div>
        <section class="copyrigth">
            <p>Copyright © 1999-2022 MUNDO MASCOTA DH</p>
            
        </section>

    </footer> -->
    <%- include ('./partials/footer.ejs') %> 
</body>

</html>