<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
    <!--------------------- body ----------------->

    <body>
        <%- include('./partials/header') %>
            <!-------------------- MAIN --------------------->
            <main>
                <h1>
                    PROMOCIONES DEL MES
                </h1>
                <img src="/img/pedidos.jpg" alt="pedidos-alimento" class="promo-pedidos">
            </main>

            <%- include ('./partials/footer.ejs') %>
    </body>

</html>