<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <!--------------------- body ----------------->
    <%- include('./partials/header')  %>

    <!-------------------- MAIN --------------------->
    <main>
        <h1>Registro de Usuario</h1>
        <form action="/register" method="GET" class="form-seguridad" >
            <div class="contenedor-seguridad">
                <div><input type="text" class="input-registro" placeholder="Nombre"></div>
                <div><input class="input-registro" type="email" placeholder="E-mail"></div>
                <div><input class="input-registro" type="password" placeholder="Contraseña"></div>
                <div><input class="input-registro" type="password" placeholder="Repetir contraseña"></div>

                <div class="boton-final contenedor-botones ">
                    <button id="" type="submit" class="btn-success boton-seguridad">
                        <i class="fa-solid fa-user-check"></i> Crear cuenta
                    </button>
                    <button id="" type="reset" class="boton-seguridad">
                        <i class="fas fa-trash-alt"></i> Limpiar
                    </button>
                </div>

            </div>
        </form>
    </main>

    <%- include ('./partials/footer.ejs') %>
</body>

</html>