<!DOCTYPE html>
<html lang="en">
<!--------------------- HEAD ----------------->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Mascota DH-Sucursales</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/1e24a630c6.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/Sucursales.css">

    <script src="https://kit.fontawesome.com/1e24a630c6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

</head>
<!--------------------- BODY ----------------->
<body>
    <!--------------------- HEADER ----------------->
    <%- include('./partials/header')  %> 
    
        <main>
            
                <h1>Nuestras Sucursales</h1>
    
                <h2>Datos de contacto</h2>
                <!-- Sucursal Buenos Aires -->
                
                    <section>
                        
                            <h2>Sucursal Buenos Aires</h2>
                            <i class="fa-solid fa-house icono" ></i>
                            <p> 01144522298</p>
                            <p> 91167852177</p>
                            <p>info@mundomascota-dh.com.ar</p>
                            <p>Capital Federal: Av. San Martin 5000 - Buenos Aires - Argentina</p>
                            <p>Lunes a Sabado de 9 a 21 hs</p>
                        
                    </section>
                
                <!-- Sucursal Tucuman -->
                
                    <section>
                        
                            <h2>Sucursal Tucuman</h2>
                            <i class="fa-solid fa-house icono" ></i>
                            <p> 01147530279</p>
                            <p> 91155729935</p>
                            <p>info@petplanetshop.com.ar</p>
                            <p>Av. Aconquija 600 - Tucuman - Argentina</p>
                            <p>Lunes a Sabado de 9 a 21 hs</p>
                        
                            </section>
                
                <!-- Sucursal Mexico -->
               
                
                    <section>
                        
                            <h2>Sucursal Mexico</h2>
                            <i class="fa-solid fa-house icono" ></i>
                            <p>01148446392 </p>
                            <p>91123411408</p>
                            <p>info@mundomascota-dh.com.ar</p>
                            <p>Av. Cuauhtémoc Blanco 890 - Queretaro - Mexico</p>
                            <p>Horarios: Lunes a Sabado de 9 a 21 hs</p>
                        
                    </section>
                
            
               
                <h1>Raliza tus consultas</h1>

                <p>
                    Completá el siguiente formulario con tus datos y tu consulta o sugerencia para que podamos ponernos en contacto con vos. Te responderemos lo más pronto posible.</P>
        
        <!-- FORMULARIO PARA CONSULTAS -->

        <form action="/login" method="post">

            <div>
                <label for="nombre-usuario"></label>
                <input type="text" id="nombre-usuario" name="nombre-usuario" class="input"
                    placeholder="Nombre y apellido">
            </div>

            <div>
                <label for="mail"></label>
                <input type="text" id="mail" name="mail" class="input" placeholder="E-mail">
            </div>

            <div>
                <label></label>
                    <textarea type="consulta" id="consulta" placeholder="consulta" style="height:65px; width: 25%" ></textarea>
                
            </div>
            <button type="submit" class="enviar-login">Enviar</button>

        </form>
    
        </main>
    <!--------------------- FOOTER ----------------->
    <%- include ('./partials/footer.ejs') %> 
    
</body>

</html>