<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
    <!--------------------- BODY ----------------->

    <body>
        <!--------------------- HEADER ----------------->
        <%- include('./partials/header') %>

            <!--------------------- MAIN ----------------->
            <main>
                <p>Todos los productos</p>

            </main>
            <!--------------------- FOOTER ----------------->
            <%- include ('./partials/footer.ejs') %>

    </body>
  </html>