<footer>
    <div class="footer-section">
        <div class="footer-primero">
            <section class="pie">
                <i class="fa-solid fa-credit-card icono-uno"></i>
                <p class="titulo">Pagá con tarjeta o en efectivo</p>
                <p class="subtitulo">con VISA o MASTERCARD, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="pie">
                <i class="fa-solid fa-gift icono-uno"></i>
                <p class="titulo">Envío gratis desde $ 1.000</p>
                <p class="subtitulo">Solo por estar registrad@ en MUNDO MASCOTA DH tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="pie">
                <i class="fa-solid fa-user-shield icono-uno"></i>
                <p class="titulo">Seguridad, de principio a fin</p>
                <p class="subtitulo">¿No te gusta? ¡Devolvelo! En MUNDO MASCOTA DH, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </div>
    </div>

    <div class="footer-section">
        <div class="footer-segundo">



            <section class="pie-dos">
                <i class="fa-solid fa-people-group icono"></i>
                <p class="titulo">Institucional</p>
                <p class="subtitulo">Nuestra Empresa</p>
                <p class="subtitulo">Staff Mundo Mascota - DH</p>
            </section>

            <section class="pie-dos">
                <i class="fa-solid fa-house icono"></i>
                <p class="titulo">Servicios</p>
                <p class="subtitulo">Catalogo</p>
                <p class="subtitulo"> Sucursales</p>
                <p class="subtitulo">Medios de pago</p>
            </section>

            <section class="pie-dos">
                <i class="fa-solid fa-hand-holding-hand icono"></i>
                <p class="titulo">Compra online</p>
                <p class="subtitulo">Mis pedidos</p>
                <p class="subtitulo">Mi carrito</p>
                <p class="subtitulo">Costos de envio</p>
            </section>

            <section class="pie-dos">
                <i class="fa-solid fa-phone icono"></i>
                <p class="titulo">Atencion al cliente</p>
                <p class="subtitulo">Atencion Telefonica : 0810 -123 -4567</p>
                <p class="subtitulo">Preguntas Frecuentes</p>
                <p class="subtitulo">Terminos y condiciones</p>
            </section>
        </div>
    </div>

    <section class="copyrigth">
        
        <section>
            <a href="/"><img src="/img/logo.jpg" alt="logo mundo mascota DH" class="logo-footer"></a>
            <!-- <p style="text-align: center; margin-left: 45px; width: 142px; height: 50px; color:black; margin-top: 450px; ">MUNDO MASCOTAS DH </p> -->
        </section>
        
    <section>
            <img src="/img/data-fiscal.png" alt="data fiscal" style="width: 150px;">
    </section>
        
        
        <div class="social-media">
           
            <a href="./" class="social-media-icon">
                <i class='bx bxl-twitter' ></i>
            </a> 
            <a href="./" class="social-media-icon">
                <i class='bx bxl-facebook' ></i>
            </a> 
            <a href="./" class="social-media-icon">
                <i class='bx bxl-instagram' ></i>
            </a> 
        </div>

        <h3 class="copyrigth-texto">Copyright © 1999-2022 MUNDO MASCOTA DH - Grupo 5 - Comision 13 </h3>
        
    </section>

</footer>