<header>
    
    <div class="main-header">
           <a href="/"><img src="/img/logo.jpg" alt="logo mundo mascota DH" class="logo" ></a> <br>
          
            
                
            
            <form action="/search" method="GET" class="search-form">
                <input type="text" id="busqueda" placeholder=" ¿Que estás necesitando?">
                <i class="fas fa-search lupa"></i>
            </form>
           

            <!-- <div class="icono-header">
                <a href="/venta/productCart"> <i  class="fa-solid fa-cart-shopping carrito"></i></a>

            </div> -->
    </div>

  

    <div >
        
        <nav >
            
            <ul class="nav-bar">
                
                <li><a href="/venta/todosLosProductos">Todos los productos</a> <i class="fas fa-paw iconito"></i></li>
                <li><a href="/venta/mascotas">Mascotas</a> <i class="fas fa-paw iconito"></i></li>
                <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket iconito"></i></li>
                <li><a href="/venta/sucursales">Sucursales</a> <i  class="fa-solid fa-location-dot iconito"></i> </li>
                <li><a href="/seguridad">Ingresar</a> <i class="fas fa-user iconito"></i> </li>
                <li><a href="/seguridad/register">Registrate</a> <i class="fa-solid fa-address-card iconito"></i> </li>
                <li> <a href="/venta/productCart"> <i  class="fa-solid fa-cart-shopping carrito"></i></a></li>
    
                
            </ul>
        </nav>
    </div>
     
    <div class="burger-menu">
    <i class="fas fa-bars menu"></i>
    </div>
</header>