<header>
    
    <div class="main-header">
           <a href="/"><img src="/img/logo.jpg" alt="logo mundo mascota DH" class="logo"></a> 
            
                <input id="busqueda" type="text" placeholder="¿Que estas necesitando? ">
                
           

            <div class="icono-header">
                <a href="/venta/productCart"> <i  class="fa-solid fa-cart-shopping carrito"></i></a>
                
            </div>
    </div>

    <div >
        <nav >
            <ul class="nav-bar">
                <li><a href="/venta/mascotas">Mascotas</a> <i class="fas fa-paw iconito"></i></li>
                <li><a href="/venta/marcas">Marcas</a> <i class="fas fa-tags iconito"> </i></li>
                <li><a href="/venta/sucursales">Sucursales</a> <i  class="fa-solid fa-location-dot iconito"></i> </li>
                <li><a href="/venta/promociones">Promociones </a><i class="fa-solid fa-percent iconito"></i></li>
                <li><a href="/seguridad">Ingresa</a> <i class="fas fa-user iconito"></i> </li>
                <li><a href="/seguridad/register">Registrate</a> <i class="fa-solid fa-address-card iconito"></i> </li>
            </ul>
        </nav>
    </div>
     
    <div class="burger-menu">
    <i class="fas fa-bars menu"></i>
    </div>
</header>